/* <!-- Board Style --> */

.board-wrapper {
    transform: rotateX(-2.5deg) rotateY(-30deg) rotateZ(5deg);
    transform-style: preserve-3d;
    transition: transform .5s;
    position: relative;
    display: flex;
}

.board-wrapper:hover {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.board-face {
    background-image: url('/static/modules/presentation/assets/static-board.png');
    background-size: cover;
}

.board-right, .board-top {
    filter: brightness(.8);
}

.board-front {
    pointer-events: none;
    aspect-ratio: 1/1;
    user-select: none;
    width: 100%;
}

.board-right {
    transform: rotateY(90deg) scaleY(-1);
    transform-origin: left;
    position: absolute;
    height: 100%;
    width: 6%;
    left: 100%;
}

.board-top {
    transform: rotateX(-90deg);
    transform-origin: top;
    position: absolute;
    height: 6%;
    width: 100%;
}

/* <!-- Final Style --> */