<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">

    <!-- Link Tags -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/modules/presentation/styles/components/rotate-board.css">
    <link rel="shortcut icon" href="/static/@shared/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/modules/presentation/styles/landing-page.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/buttons.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/footer.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/header.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/tokens.css">
    <link rel="stylesheet" href="/static/@shared/styles/template-page.css">

    <!-- Title Tag -->
    <title>Checkers Warriors • Become a Warrior! </title>

</head>
<body>

    <!-- Header -->
    <header id="header-wrapper">
        <a href="/"><img id="header-img" src="/static/@shared/assets/logomark.png" alt="Checkers Warriors's Logo"></a>
        <nav id="header-nav">
            <a href="/"><button class="button-tertiary button-selected">Home</button></a>
            <a href="/create-match"><button class="button-tertiary">Create</button></a>
            <a href="/about"><button class="button-tertiary">About</button></a>
            <a href="https://github.com/Victor101106/Checkers-Warriors"><button class="button-tertiary">Repository</button></a>
        </nav>
        <% if (auth) { %>
            <a href="/create-match"><button class="button-secondary-smooth">Create <i class="ri-add-line"></i></button></a>
        <% } else { %>
            <a href="/signup"><button class="button-secondary-smooth">Sign Up <i class="ri-user-add-line"></i></button></a>
        <% }  %>
    </header>

    <!-- Main -->
    <main id="main-container">
        <section id="main-left-wrapper">
            <h1 id="main-title">Let's Play<br><span id="main-title-span">Checkers!</span></h1>
            <p id="main-text">Checkers is a classic board game, now imagine it with pixelated visuals and some gameplay updates. Well, this is <strong>Checkers Warriors</strong>!</p>
            <div id="main-buttons">
                <a href="<%= auth ? '/create-match' : '/signup' %>">
                    <button class="button-cta">
                        <span>Get Started</span>
                        <i class="ri-arrow-right-line"></i>
                    </button>
                </a>
                <button class="button-secondary-ghost">
                    <i class="ri-discord-fill"></i>
                    <span>Join our Discord</span>
                </button>
            </div>
        </section>
        <section class="board-container" id="main-board">
            <div class="board-face board-front"></div>
            <div class="board-face board-right"></div>
            <div class="board-face board-top"></div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer-container">
        <a class="footer-link" href="https://github.com/Victor101106/Checkers-Warriors" target="_blank"><i class="footer-icon ri-github-fill"></i></a>
        <a class="footer-link" href="https://www.linkedin.com/in/victor101106/" target="_blank"><i class="footer-icon ri-linkedin-fill"></i></a>
    </footer>

</body>
</html>