/* <!-- Card List Style --> */

.card-list {
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0rem;
    display: flex;
    gap: 3rem;
}

/* <!-- Card Item Style --> */

.card-list-item {
    background-color: #ffffff;
    border-radius: .3rem;
    max-width: 50rem;
    overflow: hidden;
    width: 28rem;
}

/* <!-- Banner Style --> */

.card-list-banner {
    background-color: #8DC3A7;
    place-items: center;
    height: 14rem;
    display: grid;
}

.card-list-banner-image {
    border-radius: .3rem;
    height: 4.8rem;
}

/* <!-- Content Style --> */

.card-list-content {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 2rem;
}

.card-list-item-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: .6rem;
    font-weight: 600;
    font-size: 2rem;
}

.card-list-item-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-bottom: 2rem;
    height: fit-content;
    font-size: 1.4rem;
}

.card-list-item-button {
    border-color: #8DC3A7;
    height: fit-content;
    width: fit-content;
    color: #1E7062;
}

/* <!-- Responsive Style --> */

@media (max-width: 26rem) {
    .card-list-item {
        flex-grow: 1;
    }
}

/* <!-- Final Style --> */