/* <!-- General Style --> */

html, body {
    grid-template-rows: min-content 1fr min-content;
    background-size: 6rem;
    display: grid;
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
}

/* <!-- Main Style --> */

#main-container {
    place-items: center;
    display: grid;
}

#main-card-list {
    padding: 3rem;
    width: 80%;
}

@media (max-width: 50rem) {
    #main-card-list {
        padding: 2rem;
        width: 100%;
    }
}

/* <!-- Style Style --> */