/* <!-- General Style --> */

html, body {
    overflow: hidden;
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
}

/* <!-- Canvas Style --> */

#main-canvas {
    image-rendering: pixelated;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

/* <!-- Style Style --> */