/* <!-- General Style --> */

html, body {
    overflow: hidden;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

/* <!-- Canvas Style --> */

#main-canvas {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

/* <!-- Style Style --> */