<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    
    <!-- Link Tags -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/@shared/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/modules/authentication/styles/components/form.css">
    <link rel="stylesheet" href="/static/modules/authentication/styles/signup-page.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/buttons.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/footer.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/header.css">
    <link rel="stylesheet" href="/static/@shared/styles/components/tokens.css">
    <link rel="stylesheet" href="/static/@shared/styles/template-page.css">
    
    <!-- Title Tag -->
    <title>Sign Up  • Checkers Warriors</title>

</head>
<body>

    <!-- Header -->
    <header id="header-container">
        <div id="header-left-wrapper">
            <a id="header-link" href="/"><img id="header-logotype" src="/static/@shared/assets/logomark.png" alt="Checkers Warrior Logo"></a>
            <i id="header-menu-toggle" class="ri-menu-line"></i>
        </div>
        <nav id="header-nav-wrapper">
            <a class="header-nav-link" href="/"><button class="button-tertiary">Home</button></a>
            <a class="header-nav-link" href="/about"><button class="button-tertiary">About</button></a>
            <a class="header-nav-link" href="https://github.com/Victor101106/Checkers-Warriors"><button class="button-tertiary">Repository</button></a>
            <a class="header-nav-link" href="/signin"><button class="button-secondary-smooth">Sign In</button></a>
        </nav>
    </header>

    <!-- Main -->
    <main id="main-container">
        <form id="form">
            <div id="form-header">
                <h1 id="form-title">Create an account</h1>
                <h2 id="form-subtitle">Come become a checkers warrior!</h2>
            </div>
            <div id="form-error">
                <i id="form-error-icon" class="ri-error-warning-line"></i>
                <span id="form-error-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
            <div id="form-inputs">
                <div id="form-name-field" class="form-field">
                    <input type="text" name="name" id="form-name-input" placeholder="Name">
                    <p class="form-field-error" id="form-name-error">Please enter a name with at least 2 characters</p>
                </div>
                <div id="form-email-field" class="form-field">
                    <input type="email" name="email" id="form-email-input" placeholder="Email">
                    <p class="form-field-error" id="form-email-error">Please enter a valid email (example@mail.com)</p>
                </div>
                <div id="form-password-field" class="form-field">
                    <input type="password" name="password" id="form-password-input" placeholder="Password">
                    <p class="form-field-error" id="form-password-error">Please enter a strong password with at least 8 characters</p>
                </div>
                <button class="button-primary button-full-width" id="form-button">Create account</button>
            </div>
            <p id="form-signin-redirect">Already have a account? <a href="/signin">Sign In</a></p>
        </form>
    </main>
    
    <!-- Footer -->
    <footer id="footer-container">
        <a class="footer-link" href="https://github.com/Victor101106/Checkers-Warriors" target="_blank"><i class="footer-icon ri-github-fill"></i></a>
        <a class="footer-link" href="https://www.linkedin.com/in/victor101106/" target="_blank"><i class="footer-icon ri-linkedin-fill"></i></a>
    </footer>

    <!-- Scripts -->
    <script type="module" src="/static/modules/authentication/scripts/signup-page.js"></script>

</body>
</html>