/* <!-- Imports --> */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* <!-- Root Style --> */

:root {
    font-size: 62.5%;
}

/* <!-- General Style --> */

* {
    font-family: 'Inter', Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

html, body {
    background-image: url('/static/@shared/assets/background.gif');
    background-size: 6rem;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

/* <!-- Final Style --> */