/* <!-- Imports --> */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* <!-- Root Style --> */

:root {
    font-size: 62.5%;
}

/* <!-- General Style --> */

* {
    font-family: 'Inter', Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

html, body {
    position: relative;
}

/* <!-- Final Style --> */