/* <!-- Button Style --> */

.button {
    border-radius: var(--border-radius-button-primary);
    transition: background .25s, color .25s;
    align-items: first baseline;
    justify-content: center;
    padding: 1rem 1.8rem;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    gap: 1rem;
}

/* <!-- Modifier Style --> */

.button.button-small {
    padding: .7rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    gap: .7rem;
}

.button.button-full-width {
    width: 100%;
}

/* <!-- Default Style --> */

.default-button {
    border: var(--color-primary-400) solid .2rem;
    background-color: var(--color-primary-400);
    color: var(--color-primary-900);
}

.default-button.button-selected,
.default-button:hover {
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
}

/* <!-- Smooth Style --> */

.smooth-button {
    background-color: var(--color-primary-800);
    color: var(--color-primary-400);
    border: none;
}

.smooth-button.button-selected,
.smooth-button:hover {
    background-color: var(--color-primary-400);
    color: var(--color-primary-900);
}

/* <!-- Ghost Style --> */

.ghost-button {
    background: none;
    color: #869693;
    border: none;
}

.ghost-button.button-selected, 
.ghost-button:hover {
    color: #ffffff;
}

/* <!-- Outlined Style --> */

.outlined-button {
    border: var(--color-primary-400) solid .2rem;
    background: none;
    color: var(--color-primary-400);
}

.outlined-button.button-selected,
.outlined-button:hover {
    background-color: var(--color-primary-400);
    color: var(--color-primary-900);
}

/* <!-- Final Style --> */