/* <!-- General Style --> */

.button-secondary-smooth,
.button-secondary-ghost,
.button-tertiary,
.button-primary,
.button-cta {

    /* --> Default Style */
    transition: background .25s, color .25s, opacity .25s;
    border-radius: var(--border-radius-button-primary);
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    border: none;

    /* --> Default Size (Medium) */
    padding-inline: 2.4rem;
    font-size: 1.6rem;
    height: 4.4rem;
    gap: .8rem;

}

/* <!-- Button Primary & CTA --> */

.button-primary,
.button-cta {
    background-color: var(--color-primary-400);
    color: var(--color-primary-900);
}

.button-primary:hover,
.button-cta:hover {
    background-color: var(--color-primary-500);
}

.button-cta {
    padding-inline: 3rem !important;
}

/* <!-- Button Secondary --> */

.button-secondary-ghost {
    outline: var(--color-primary-400) solid .2rem;
    color: var(--color-primary-400);
    background: none;
}

.button-secondary-ghost:hover {
    background-color: var(--color-primary-400);
    color: var(--color-primary-900);
}

.button-secondary-smooth {
    background-color: var(--color-primary-800);
    color: var(--color-primary-400);
}

.button-secondary-smooth:hover {
    background-color: var(--color-primary-400);
    color: var(--color-primary-900);
}

/* <!-- Button Tertiary --> */

.button-tertiary {
    background: none;
    color: #ffffff;
    opacity: 0.5;
    border: none;
}

.button-tertiary:hover {
    opacity: 1;
}

/* <!-- Button Sizes --> */

.button-full-width {
    width: 100%;
}

.button-small {
    padding-inline: 1.8rem;
    font-size: 1.4rem;
    height: 3.2rem;
    gap: .4rem;
}

.button-medium {
    padding-inline: 2.2rem;
    font-size: 1.6rem;
    height: 3.8rem;
    gap: .8rem;
}

.button-big {
    padding-inline: 3.2rem;
    font-size: 1.6rem;
    height: 4.8rem;
    gap: .8rem;
}

/* <!-- Final Types --> */