/* <!-- Footer Style --> */

#footer-container {
    justify-content: center;
    padding: 1.4rem;
    display: flex;
    margin: auto;
}

.footer-icon {
    transition: opacity .25s;
    margin-right: .4rem;
    margin-left: .4rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    opacity: 0.6;
}

.footer-icon:hover {
    opacity: 1;
}

/* <!--- Final Style ---> */