/* <!-- Header Style --> */

#header-wrapper {
    grid-template-columns: 1fr max-content 1fr;
    place-items: center;
    padding: 2.2rem;
    display: grid;
}

#header-img {
    height: 3.4rem;
}

/* <!-- Responsive --> */

@media (max-width: 44rem) {

    #header-wrapper {
        justify-content: space-between;
        display: flex;
    }

    #header-nav {
        display: none;
    }

}

/* <!-- Final Style --> */