/* <!-- Imports --> */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');

/* <!-- Main Style --> */

#main-wrapper {
    padding-bottom: 6vh;
}

#main-text-wrapper {
    flex-direction: column;
    margin-block: 8vh 10vh;
    margin-inline: auto;
    align-items: center;
    position: relative;
    width: max-content;
    display: flex;
}

#main-subtitle {
    color: var(--color-primary-300);
    font-size: min(2.8vw, 1.4rem);
    text-transform: uppercase;
    letter-spacing: .12rem;
    margin-bottom: 3vh;
    text-align: center;
    user-select: none;
    font-weight: 700;
    opacity: .6;
}

#main-title, #main-title span {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    font-weight: 400;
    line-height: 94%;
}

#main-title {
    color: var(--color-primary-200);
    font-size: min(17.3vw, 12rem);
}

#main-title span {
    color: var(--color-primary-100);
    font-size: min(21vw, 14.6rem);
}

#main-button-wrapper {
    padding-inline: 2rem;
    margin-bottom: 12vh;
    place-items: center;
    display: grid;
}

#main-button-wrapper a {
    z-index: 1;
}

#main-button {
    gap: 2.6rem;
}

#main-board-wrapper {
    width: min(88vw, 60rem);
    border-radius: .4rem;
    aspect-ratio: 1/1;
    background: none;
    display: block;
    margin: auto;
}

/* <!-- Sticker Styles --> */

.sticker {
    image-rendering: pixelated;
    position: absolute;
    user-select: none;
}

#sticker-crown-1 {
    transform: translate(-50%, -65%) rotateZ(30deg);
    height: min(4rem, 6vw);
    left: 100%;
}

#sticker-crown-2 {
    transform: translateY(.6rem);
    position: relative;
    height: 3.2rem;
}

#sticker-skull-1 {
    transform: translate(-40%, -90%) rotateZ(10deg);
    height: min(8rem, 12vw);
}

#sticker-skull-2 {
    transform: rotateZ(-30deg);
    height: min(7rem, 9vw);
    opacity: .75;
    left: 60%;
    top: 100%;
}

#sticker-black {
    transform: rotateZ(20deg);
    height: min(6.4rem, 8vw);
    left: 97%;
    top: 66%;
}

#sticker-white {
    transform: translate(-40%, -40%) rotateZ(-30deg);
    height: min(6rem, 8vw);
    top: 100%;
}

/* <!-- Final Style --> */